
* {
	box-sizing: border-box;
}
body {
	font-family: Comic Sans MS;
	font-size:14px;
	color: black;
}
h1 {
	font-size:175%;
	font-weight: bold;
	text-align: center;
	margin-bottom: 15px;

}
.title {
	font-size:125%;
	font-weight: bold;
	text-align: center;
	float: right;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	width: 150px;
}
#chicken {
	background: #d59898;
}
#beef {
	background: #c14543;
	color:white;
}
#sushi {
	background: #e5d198;
}
.contenido{
	border: 1px solid #000000;
	background-color: #999999;
	text-align: justify;
	margin:2%;	
	height: 107px;
	overflow: hidden;
}
p {
	margin: 2%;
	margin-top: 30px;
	height: 72px;
	white-space: break-space;
}

/*************** Simple Responsive Framework ************/

.row {
	width: 100%;
}

/************** Large devices Only *********************/
@media (min-width: 992px) {
		.col-lg {
		float: left;
		width: 33%;
		}
			
}

/**************** Medios devices only **************/
@media (min-width: 768px) and (max-width: 991px) {
		.col-md-6  {
		float: left;
		width: 50%;
		}
		.col-md-12  {
		float: left;
		width: 102%;
		margin-left: -1%;
		}

}